.page {
    width: 600px;
    margin: auto;
    font-family: Helvetica;
}
h1 { 
    white-space: nowrap; 
    text-align: center;
    font-family: Helvetica;
}
.embed {
    font-family: Consolas;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
}

p, pre {
    font-family: Consolas;    
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
  color: magenta;
}

img {
    width: 400px;
    height: auto;
    
}